---
import Aside from "../components/Aside.tsx";
import Main from "../components/Main";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/personal-website-2024/icon.svg"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="styles.css" />
    <link href="https://fonts.cdnfonts.com/css/satoshi" rel="stylesheet" />

    <!-- Primary Meta Tags -->
    <title>Hector Rivera</title>
    <meta name="title" content="Hector Rivera" />
    <meta
      name="description"
      content="Graphic designer and Software develper - Portfolio"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://hctor11.github.io/personal-website-2024/"
    />
    <meta property="og:title" content="Hector Rivera" />
    <meta
      property="og:description"
      content="Graphic designer and Software develper - Portfolio"
    />
    <meta
      property="og:image"
      content="https://metatags.io/images/meta-tags.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content="https://hctor11.github.io/personal-website-2024/"
    />
    <meta property="twitter:title" content="Hector Rivera" />
    <meta
      property="twitter:description"
      content="Graphic designer and Software develper - Portfolio"
    />
    <meta
      property="twitter:image"
      content="https://metatags.io/images/meta-tags.png"
    />

    <title>Hector Rivera</title>
  </head>
  <body class="bg-white dark:bg-zinc-900">
    <header class="md:flex dark:bg-zinc-900">
      <Aside client:load />
      <Main client:load />
    </header>
  </body>
</html>

<style>
  body {
    font-family: "Satoshi";
  }
</style>
