---
import Aside from "../components/Aside.tsx";
import Main from "../components/Main";
import Darkmode from "../components/Darkmode.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/personal-website-2024/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="styles.css" />
    <link href="https://fonts.cdnfonts.com/css/satoshi" rel="stylesheet" />
    <title>Hector Rivera</title>
  </head>
  <body class="bg-white dark:bg-zinc-900">
		<header class="md:flex dark:bg-zinc-900">
      <Aside client:load/>
      <Main client:load/>
    </header>
    <script is:inline>
      document.addEventListener("DOMContentLoaded", function () {
        const changeTheme = document.getElementById("changeTheme");
        const body = document.body;

        changeTheme.addEventListener("click", function () {
          // Alternar clases de tema de TailwindCSS
          body.classList.toggle("dark");
        });
      });
    </script>
  </body>
</html>
../components/Aside.tsx