---
import Navigation from "./Navigation";
---
<aside class="p-4 w-screen sm:fixe sm:h-screen md:w-2/12 dark:bg-zinc-900 md:flex md:flex-col md:justify-between  bg-white">
    <div class="top-section">
        <div class="title dark:text-white">
            <h1 class="text-2xl font-medium leading-3 ">Hector Rivera</h1>
            <p>Developer & Designer</p>
        </div>
        <Navigation client:load/>
    </div>
    <div class="bottom-section mt-5 md:mt-0 dark:text-white">
		<input type="checkbox" name="" id="changeTheme" class="accent-black p-4 dark:text-white dark:accent-white" value="light">
        <label class="text-sm" for="theme">dark mode</label>
    </div>
</aside>