---
---
<aside class="p-4 h-screen w-1/4 dark:bg-zinc-900 flex flex-col justify-between  bg-white transition-all">
    <div class="top-section">
        <div class="title dark:text-white">
            <h1 class="text-2xl font-medium leading-3 ">Hector Rivera</h1>
            <p>Developer & Designer</p>
        </div>
        <nav class="flex flex-col justify-start items-start mt-5">
            <button class="hover:bg-zinc-200 dark:text-white dark:hover:bg-zinc-800">
                About me
            </button >
            <button class="hover:bg-zinc-200 dark:text-white dark:hover:bg-zinc-800">
                Work
            </button>
            <button class="hover:bg-zinc-200 dark:text-white dark:hover:bg-zinc-800">
                Contact
            </button>
        </nav>
    </div>
    <div class="bottom-section dark:text-white">
		<input type="checkbox" name="" id="changeTheme" class="accent-black p-4 dark:text-white dark:accent-white" value="light">
        <label for="theme">dark mode</label>
    </div>
</aside>