<div class="bottom-section mt-5 md:mt-0 dark:text-white">
    <input type="checkbox" name="" id="changeTheme" class="accent-black p-4 dark:text-white dark:accent-white" value="light">
    <label class="text-sm" for="theme">dark mode</label>
</div>